In [1]:
import pandas as pd
import numpy as n
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
os.chdir('Tanzania/LSMS')

In [3]:
dfN = pd.read_stata('HH_SEC_N.dta')
dfQ = pd.read_stata('HH_SEC_Q1.dta')
geo = pd.read_stata('HouseholdGeovars_Y3.dta')

In [4]:
dfN.head()

,occ,y3_hhid,entid,hh_n02_2,hh_n02_3,hh_n03_1,hh_n03_2,hh_n03_3,hh_n03_4,hh_n03_5,...,hh_n15,hh_n16,hh_n17,hh_n18,hh_n19,hh_n20,hh_n21_1,hh_n21_2,hh_n21_3,hh_n21_4
0,1,0001-001,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0002-001,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0003-001,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0003-010,1.0,UUZAJI WA NGUO,RETAIL SALE VIA STALLS AND MARKETS,1.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,75000.0,12.0,220000.0,NO,NO,YES,NO
4,1,0005-001,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# FILE: HH_SEC_N
**What was the net income (profit) from your business or businesses in the last we (hh_n14_2)**

In [21]:
print dfN.shape

(5759, 40)

In [7]:
dfN['hh_n14_2']

0            NaN
1            NaN
2            NaN
3       210000.0
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11       30000.0
12       15000.0
13           NaN
14           NaN
15       49000.0
16           NaN
17           NaN
18      240000.0
19      116000.0
20           NaN
21       24000.0
22           NaN
23           NaN
24           NaN
25       88000.0
26           NaN
27      160000.0
28        8000.0
29       42000.0
          ...
5729         NaN
5730         NaN
5731         NaN
5732         NaN
5733         NaN
5734         NaN
5735         NaN
5736     20000.0
5737     22000.0
5738         NaN
5739         NaN
5740         NaN
5741     50000.0
5742     22000.0
5743     15000.0
5744         NaN
5745         NaN
5746    150000.0
5747         NaN
5748         NaN
5749         NaN
5750         NaN
5751         NaN
5752         NaN
5753         NaN
5754         NaN
5755         NaN
5756    120000.0
5757    380000.0
5758         NaN
Name: hh_n14_2, dtype: float64

**What was your AVERAGE net monthly income (profit) during the months when you ope (hh_n20)**

In [8]:
dfN['hh_n20']

0            NaN
1            NaN
2            NaN
3       220000.0
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11       40000.0
12       20000.0
13           NaN
14           NaN
15       50000.0
16           NaN
17           NaN
18      240000.0
19      116000.0
20           NaN
21       24000.0
22           NaN
23           NaN
24           NaN
25       88000.0
26           NaN
27      160000.0
28        8000.0
29       42000.0
          ...
5729         NaN
5730         NaN
5731         NaN
5732         NaN
5733         NaN
5734         NaN
5735         NaN
5736     80000.0
5737     90000.0
5738         NaN
5739         NaN
5740         NaN
5741    200000.0
5742     88000.0
5743     54000.0
5744         NaN
5745         NaN
5746    150000.0
5747         NaN
5748         NaN
5749         NaN
5750         NaN
5751         NaN
5752         NaN
5753         NaN
5754         NaN
5755         NaN
5756    120000.0
5757    400000.0
5758         NaN
Name: hh_n20, dtype: float64

In [10]:
print dfN.isnull().sum()

occ            0
y3_hhid        0
entid       2707
hh_n02_2       0
hh_n02_3    2736
hh_n03_1    2716
hh_n03_2    5449
hh_n03_3    5700
hh_n03_4    5737
hh_n03_5    5750
hh_n03_6    5757
hh_n04_1    2717
hh_n04_2    5616
hh_n05_1    2718
hh_n05_2    5620
hh_n06      2718
hh_n07_1    2723
hh_n07_2    2735
hh_n08_1    2724
hh_n08_2    5566
hh_n08_3    5749
hh_n09_1    2720
hh_n09_2    5595
hh_n10      2736
hh_n11      2735
hh_n12      2739
hh_n13_1    2745
hh_n13_2    2744
hh_n14_1    2744
hh_n14_2    2744
hh_n15      2736
hh_n16      2736
hh_n17      2741
hh_n18      2741
hh_n19      2734
hh_n20      2745
hh_n21_1    2735
hh_n21_2    2735
hh_n21_3    2735
hh_n21_4    2735
dtype: int64

# FILE: HH_SEC_Q1
**What is the total amount of income your household has received in the form of re (hh_q06)**

In [20]:
print dfQ.shape

(5010, 33)

In [13]:
print dfQ['hh_q06'].isnull().sum()
dfQ['hh_q06']

2

0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
5            0.0
6            0.0
7            0.0
8            0.0
9            0.0
10           0.0
11           0.0
12           0.0
13           0.0
14           0.0
15           0.0
16           0.0
17           0.0
18      120000.0
19           0.0
20      100000.0
21           0.0
22           0.0
23           0.0
24           0.0
25           0.0
26           0.0
27           0.0
28           0.0
29           0.0
          ...
4980         0.0
4981         0.0
4982         0.0
4983         0.0
4984         0.0
4985         0.0
4986         0.0
4987         0.0
4988         0.0
4989         0.0
4990         0.0
4991         0.0
4992         0.0
4993         0.0
4994         0.0
4995         0.0
4996         0.0
4997         0.0
4998         0.0
4999         0.0
5000         0.0
5001         0.0
5002         0.0
5003         0.0
5004         0.0
5005         0.0
5006         0.0
5007         0.0
5008         0.0
5009         0.0
Name: hh_q06, dtype: float64

**What is the total amount of income your household has received in the form of pr (hh_q07)**

In [14]:
print dfQ['hh_q07'].isnull().sum()
dfQ['hh_q07']

2

0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
5             0.0
6             0.0
7             0.0
8             0.0
9             0.0
10            0.0
11            0.0
12            0.0
13            0.0
14            0.0
15            0.0
16            0.0
17            0.0
18            0.0
19            0.0
20            0.0
21            0.0
22            0.0
23            0.0
24            0.0
25            0.0
26            0.0
27            0.0
28            0.0
29            0.0
          ...
4980          0.0
4981          0.0
4982          0.0
4983          0.0
4984          0.0
4985          0.0
4986          0.0
4987          0.0
4988      95960.0
4989          0.0
4990     432000.0
4991          0.0
4992          0.0
4993          0.0
4994          0.0
4995          0.0
4996          0.0
4997          0.0
4998          0.0
4999          0.0
5000          0.0
5001          0.0
5002          0.0
5003          0.0
5004          0.0
5005          0.0
5006    1080000.0
5007          0.0
5008          0.0
5009          0.0
Name: hh_q07, dtype: float64

**What is the total amount of income your household has received in the form of ot (hh_q08)**

In [16]:
print dfQ['hh_q08'].isnull().sum()
dfQ['hh_q08']

2

0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
5            0.0
6            0.0
7            0.0
8            0.0
9            0.0
10           0.0
11           0.0
12           0.0
13           0.0
14           0.0
15      240000.0
16           0.0
17           0.0
18           0.0
19       60000.0
20           0.0
21           0.0
22           0.0
23           0.0
24           0.0
25           0.0
26           0.0
27           0.0
28           0.0
29           0.0
          ...
4980         0.0
4981         0.0
4982         0.0
4983         0.0
4984         0.0
4985         0.0
4986         0.0
4987         0.0
4988    951960.0
4989         0.0
4990         0.0
4991         0.0
4992         0.0
4993         0.0
4994         0.0
4995         0.0
4996         0.0
4997         0.0
4998         0.0
4999         0.0
5000         0.0
5001         0.0
5002         0.0
5003         0.0
5004         0.0
5005         0.0
5006         0.0
5007         0.0
5008         0.0
5009         0.0
Name: hh_q08, dtype: float64

# FILE: HouseholdGeovars_Y3

**GPS Latitude Modified (lat_dd_mod)**

In [22]:
print geo.shape

(4988, 50)

In [23]:
geo['lat_dd_mod']

0      -5.085751
1      -5.085751
2      -5.085751
3      -6.860888
4      -5.085751
5      -5.085751
6      -5.085751
7      -5.085751
8      -5.085751
9      -6.456619
10     -6.456619
11     -6.406026
12     -6.456619
13     -6.456619
14     -6.456619
15     -6.456619
16     -6.987275
17     -6.456619
18     -6.456619
19     -6.456619
20     -6.614009
21     -6.614009
22     -6.651119
23     -6.614009
24     -6.614009
25     -6.614009
26     -6.614009
27     -6.711653
28     -6.614009
29     -6.614009
          ...
4958   -5.240218
4959   -5.403962
4960   -5.403962
4961   -5.403962
4962   -5.353914
4963   -5.403962
4964   -5.403962
4965   -5.403962
4966   -5.403962
4967   -5.368369
4968   -5.059245
4969   -5.368369
4970   -5.368369
4971   -5.368369
4972   -5.368369
4973   -5.368369
4974   -6.860111
4975   -5.368369
4976   -5.367533
4977   -5.367533
4978   -5.367533
4979   -5.367533
4980   -5.367533
4981   -5.950114
4982   -5.367533
4983   -5.147233
4984   -5.367533
4985   -6.732558
4986   -6.124175
4987   -5.367533
Name: lat_dd_mod, dtype: float64

In [24]:
geo['lon_dd_mod']

0       35.854389
1       35.854389
2       35.854389
3       39.251984
4       35.854389
5       35.854389
6       35.854389
7       35.854389
8       35.854389
9       36.722861
10      36.722861
11      36.837547
12      36.722861
13      36.722861
14      36.722861
15      36.722861
16      36.898958
17      36.722861
18      36.722861
19      36.722861
20      36.508663
21      36.508663
22      36.385741
23      36.508663
24      36.508663
25      36.508663
26      36.508663
27      38.742135
28      36.508663
29      36.508663
          ...
4958    39.791565
4959    39.694232
4960    39.694232
4961    39.694232
4962    39.647788
4963    39.694232
4964    39.694232
4965    39.694232
4966    39.694232
4967    39.702128
4968    39.758980
4969    39.702128
4970    39.702128
4971    39.702128
4972    39.702128
4973    39.702128
4974    39.272308
4975    39.702128
4976    39.664895
4977    39.664895
4978    39.664895
4979    39.664895
4980    39.664895
4981    39.286742
4982    39.664895
4983    39.765891
4984    39.664895
4985    39.224130
4986    39.257458
4987    39.664895
Name: lon_dd_mod, dtype: float64

## Unique Identifiers of all files

In [25]:
dfN['y3_hhid']

0       0001-001
1       0002-001
2       0003-001
3       0003-010
4       0005-001
5       0006-001
6       0007-001
7       0008-001
8       0009-001
9       0010-001
10      0011-001
11      0011-004
12      0011-004
13      0012-001
14      0013-001
15      0014-001
16      0014-007
17      0015-001
18      0016-001
19      0016-001
20      0017-001
21      0018-001
22      0019-001
23      0019-003
24      0020-001
25      0021-001
26      0022-001
27      0023-001
28      0023-001
29      0024-001
          ...
5729    3899-001
5730    3900-001
5731    3901-001
5732    3902-001
5733    3902-110
5734    3903-001
5735    3904-001
5736    3905-001
5737    3906-001
5738    3907-001
5739    3907-002
5740    3908-001
5741    3909-001
5742    3910-001
5743    3911-001
5744    3911-002
5745    3912-001
5746    3913-001
5747    3915-001
5748    3916-001
5749    3917-001
5750    3918-001
5751    3919-001
5752    3919-005
5753    3920-001
5754    3921-001
5755    3922-001
5756    3922-108
5757    3923-001
5758    3924-001
Name: y3_hhid, dtype: object

In [26]:
dfQ['y3_hhid']

0       0001-001
1       0002-001
2       0003-001
3       0003-010
4       0005-001
5       0006-001
6       0007-001
7       0008-001
8       0009-001
9       0010-001
10      0011-001
11      0011-004
12      0012-001
13      0013-001
14      0014-001
15      0014-007
16      0015-001
17      0016-001
18      0017-001
19      0018-001
20      0019-001
21      0019-003
22      0020-001
23      0021-001
24      0022-001
25      0023-001
26      0024-001
27      0025-001
28      0026-001
29      0027-001
          ...
4980    3899-001
4981    3900-001
4982    3901-001
4983    3902-001
4984    3902-110
4985    3903-001
4986    3904-001
4987    3905-001
4988    3906-001
4989    3907-001
4990    3907-002
4991    3908-001
4992    3909-001
4993    3910-001
4994    3911-001
4995    3911-002
4996    3912-001
4997    3913-001
4998    3915-001
4999    3916-001
5000    3917-001
5001    3918-001
5002    3919-001
5003    3919-005
5004    3920-001
5005    3921-001
5006    3922-001
5007    3922-108
5008    3923-001
5009    3924-001
Name: y3_hhid, dtype: object

In [27]:
geo['y3_hhid']

0       0001-001
1       0002-001
2       0003-001
3       0003-010
4       0005-001
5       0006-001
6       0007-001
7       0008-001
8       0009-001
9       0010-001
10      0011-001
11      0011-004
12      0012-001
13      0013-001
14      0014-001
15      0014-007
16      0015-001
17      0016-001
18      0017-001
19      0018-001
20      0019-001
21      0019-003
22      0020-001
23      0021-001
24      0022-001
25      0023-001
26      0024-001
27      0025-001
28      0026-001
29      0027-001
          ...
4958    3899-001
4959    3900-001
4960    3901-001
4961    3902-001
4962    3902-110
4963    3903-001
4964    3904-001
4965    3905-001
4966    3906-001
4967    3907-001
4968    3907-002
4969    3908-001
4970    3909-001
4971    3910-001
4972    3911-001
4973    3911-002
4974    3912-001
4975    3913-001
4976    3915-001
4977    3916-001
4978    3917-001
4979    3918-001
4980    3919-001
4981    3919-005
4982    3920-001
4983    3921-001
4984    3922-001
4985    3922-108
4986    3923-001
4987    3924-001
Name: y3_hhid, dtype: object